html,
body {
  min-height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;

  background-color: #271c21;
}

/* General container for tags FORM */
.form-section {
  width: 50%;
  min-width: 400px;
  max-width: 500px;
  height: 95%;
  min-height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border-radius: 9px;
}

/* FORM */
form {
  height: 74%;
  min-height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  background-color: #131c21;
  color: #e3ebef;
  border-radius: 0 0 9px 9px;
}

form fieldset {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;

  height: 90%;
  width: 90%;
}

input,
select,
textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 3px 12px;
  margin: 3px 0;

  display: inline-block;

  outline: none;
  border-radius: 4px;
}
input:focus {
  outline: 1px solid #ccc;
  outline-offset: -1px;
}

input[type="submit"] {
  width: 100%;
  margin: 8px 0;
  padding: 10px 15px;

  background-color: #666;
  color: white;
  border: none;
  border-radius: 4px;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

input[type="submit"]:focus {
  color: #000;
  background-color: #ffb800;
}

input[type="submit"]:hover {
  color: #000;
  background-color: #ffb800;
}
