/* --------------------------------- */
/* ---- CSS HECHO CON ♥         ---- */
/* ---- POR GASTON GIACOBINI    ---- */
/* --------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");

:root {
    --height-navbtn: 50px;
    --width-navbtn: 145px;
    --size-borderbtn: 8px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/wallpaperBody1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    font-family: 'Open Sans', sans-serif;
    background: #141e3070;
    border-bottom: 1px solid #141e30;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons .outer:nth-child(1) a{
    font-size: 14px;
}

.username-nav {
    display:flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-shadow: 0 0 10px #f40303, 
        0 0 20px #f40303, 
        0 0 40px #f40303, 
        0 0 80px #f40303, 
        0 0 160px #f40303;
}

.outer {
    position: relative;
    margin: 15px;
    background-color: transparent;
}

.button {
    height: var(--height-navbtn);
    width: var(--width-navbtn);
    border-radius: 50px;
}

.outer a,
.outer span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outer a {
    background: #29216655;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 1;
}

.button a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--height-navbtn) - var(--size-borderbtn));
    width: calc(var(--width-navbtn) - var(--size-borderbtn));
    border-radius: 50px;
}

.outer span {
    height: 100%;
    width: 100%;
    background: inherit;
}

.button span {
    border-radius: 50px;
}

.outer:hover span:nth-child(even) {
    filter: blur(7px);
}
.outer:hover span:nth-child(odd) {
    filter: blur(14px);
}

.buttons .outer:hover{
    text-shadow: 0 0 10px #cb621a, 
        0 0 20px #cb621a, 
        0 0 40px #6b9838, 
        0 0 80px #74a8da;
}

.buttons .outer:hover>a {
    background: #0D0F2B;
}

.outer:hover span {
    background: -webkit-linear-gradient(#cb621a, #6b9838, #74a8da);
    background: -moz-linear-gradient(#cb621a, #6b9838, #74a8da);
    background: -o-linear-gradient(#cb621a, #6b9838, #74a8da);
    background: linear-gradient(#cb621a, #6b9838, #74a8da);
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.profits-nav {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}
.profits-nav span {
    font-family: monospace, sans-serif;
    color: #D3D3D3;
    font-size: 1vw;
}

.username-nav form button {
    padding: 7px 9px;
    margin: 0px 10px;
    background: linear-gradient(270deg, #b40303, transparent);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    box-shadow: 0 0 35px #b40303;
}

.username-nav form button:hover {
    transition: 0.5s;
    box-shadow: 0 0 10px #b40303, 
        0 0 20px #b40303, 
        0 0 40px #b40303, 
        0 0 80px #b40303;
}

/* MAIN */
.container-index {
    padding: 0;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container-index > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container-index .btn {
    position: relative;
    padding: 4vh 5vw;
    width: 155px;
    height: 50px;
    margin: 10px;
    transition: background-color 10s;
    transition: border-radius 0s;
}

.container-index .btn:hover {
    border-radius: 30px;
    box-shadow: 0 0 5px #8efbfb, 0 0 25px #8efbfb, 0 0 50px #8efbfb,
        0 0 100px #8efbfb;
    background: #8efbfbaa;
}

.container-index .btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 1;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.container-index .btn a:hover {
    letter-spacing: 3px;
}

.container-index .btn a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.1), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}

.container-index .btn:hover a::before {
    transform: skewX(45deg) translateX(200%);

    filter: blur(10px);
}

.container-index .btn:hover a {
    color: #fff68a;
    text-shadow: 0 0 1px #ad2577, 0 0 2px #ad2577, 0 0 5px #ad2577,
        0 0 15px #ad2577, 0 0 25px #ad2577;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #32496029;
    color: #f3fa71;
    text-shadow: 0 0 1px #ad2577, 0 0 2px #ad2577, 0 0 5px #ad2577,
        0 0 15px #ad2577, 0 0 25px #ad2577;
}


select option,
select optgroup {
    color: black;
}